{
  "all": true,
  "check-coverage": true,
  "lines": 60,
  "statements": 60,
  "functions": 60,
  "branches": 40,
  "include": [
    "src/**/*.ts",
    "src/**/*.tsx"
  ],
  "exclude": [
    "**/*.spec.ts",
    "**/*.spec.tsx",
    "**/*.test.ts",
    "**/*.test.tsx",
    "**/node_modules/**",
    "**/tests/**",
    "**/*.config.ts",
    "**/*.config.js",
    "**/dist/**",
    "**/.next/**",
    "**/middleware.ts",
    "**/projects-hardcdd.ts",
    "**/src/lib/seo/**"
  ],
  "reporter": [
    "text",
    "html",
    "lcov",
    "json-summary"
  ],
  "report-dir": "./docs/coverage",
  "temp-dir": "./.nyc_output"
}
